.right{
    float: right;
}
.justify{
    text-align: justify;
}
.center{
    text-align: center;
}
.big{
    font-size: 180pt;
}
.centerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}