.center{
    text-align: center;
}
.centerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.justify{
    text-align: justify;
}

@media only screen and (max-width: 1200px) {
    .right{
    float: none;
    display: block;
    }   
}