$smBreakpoint: 600px;
$height: 8em;
$width: 25em;

.search-dropdown-item {
  height: $height;
  width: $width !important;
  padding: 0 !important;
  justify-content: space-between !important;
  cursor: pointer;
}

.search-dropdown-text {
  margin: auto 0 !important;
  padding: 1em;
}

.search-dropdown-primary {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-dropdown-secondary {
  opacity: 50%;
}

.search-dropdown-image {
  height: $height;
  max-width: $height / 1.5;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

@media (max-width: #{$smBreakpoint}) {
  .search-dropdown-item {
    width: 80vw !important;
  }
}
