.header-container {
  display: flex;
}

.title-dialog-root {
  width: 100% !important;
  padding: 2em;
}

.add-button {
  margin: 15px !important;
}

.centerFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.mediaDialog {
  height: 260px;
}

.title-dialog-image {
  max-width: 100%;
}

.title-dialog-field-container {
  margin: 0.5em 0 !important;
}

.bold {
  font-weight: bold;
}
