.title{
    margin-right: auto !important;
}

.header-container{
  display: flex;
}

.add-button{
  margin: 15px !important;
}

.centerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.mediaDialog{
    height: 260px;
}
