.watchlists-dropdown {
  max-height: 25vh;
  margin: 0 !important;
}

.watchlists-dropdown-item {
  max-width: 14em;
  margin: 0.25em 0 !important;
}

.watchlists-dropdown-item-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selected {
  font-weight: bold;
}
