$smBreakpoint: 600px;

.root {
  flex-grow: 1;
}

.appBar {
  display: flex;
  justify-content: center;
  min-height: 64px !important;
  z-index: 1250 !important;
  transition: width 0.25s ease-out, margin 0.25s ease-out !important;
}

.menuButton {
  margin-left: -5px !important;
  margin-right: 15px !important;
}

.hide {
  display: none !important;
}

.logo {
  height: 35px;
  margin-right: auto;
  display: none;
}

@media (min-width: #{$smBreakpoint}) {
  .menuButton {
    margin-left: -12px !important;
  }

  .logo {
    display: block;
  }
}
