.appBar {
  display: flex;
  justify-content: center;
  min-height: 64px !important;
  z-index: 2000 !important;
  transition: width 0.25s ease-out, margin 0.25s ease-out !important;
}

.menuButton {
  margin-left: -5px !important;
  margin-right: 15px !important;
}

.hide {
  display: none !important;
}

.logo {
  height: 35px;
  margin-right: auto;
  display: none;
}

.search {
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.5s;
  margin-left: 0;
  width: 100%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.searchIcon {
  padding: 0 10px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputRoot {
  color: inherit !important;
}

.inputBase {
  padding: 5px 5px 5px 0 !important;
  padding-left: 40px !important;
  width: 100% !important;
}

$smBreakpoint: 600px;

@media (min-width: #{$smBreakpoint}) {
  .menuButton {
    margin-left: -12px !important;
  }

  .logo {
    display: block;
  }

  .search {
    margin-left: 5px;
    width: auto;
  }

  .inputBase {
    transition: width 0.25s ease-out !important;
    width: 12ch !important;
    &:focus {
      width: 20ch !important;
    }
  }
}
